apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: tinybit-hpa
  namespace: tinybit
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tinybit
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
